div(id="title-flex")
  img(id="section-symbol-left" src=`/public/img/${section}Symbol.png`, alt=`${section} section symbol`)
  h2(id="section-title" data-section=section)
  img(id="section-symbol-right" src=`/public/img/${section}Symbol.png`, alt=`${section} section symbol`)
