html
  include partials/head.pug
  body
    h1(id="main-title") Flora Seeker API

    div(id="nav-bar")
      for item in ["Root", "Seekers", "Collection", "Map"]
        div(class="nav-item"
          data-inactive=item.toLowerCase() === section ? "true" : ""
          data-value=`${pathDir} ${item.toLowerCase()}${item === "Collection" ? "/falshrooms" : ""}`)= item

    h1(id="section-title" data-section=section)

    if(familyVal)
      div(id="family-bar")
        for item in ["Falshrooms", "Flesherfungi", "Flourishflora", "Maremolds", "Trees", "Waveskellen"]
          div(class="family-item"
          data-inactive=item.toLowerCase() === family ? "true" : "" data-value=`${pathDir} ${item.toLowerCase()}`)= item

    h1(id="section-description" data-section=section)

    div(id="request-descriptions")
      include partials/requests.pug
      include partials/info.pug
