html
  head
    title Flora Seeker API Documentation
    link(rel="stylesheet" href="/css/styles.css")
    script(src="/scripts/scripts.js")
  body
    include partials/title.pug
    div#nav-bar
      for item in ["Root", "Seekers", "Collection", "Map"]
        div(class="nav-item" data-value=item.toLowerCase())= item
    h1(class="title")= (entityName[0].toUpperCase() + entityName.slice(1))
    p Explain the basics of the documentation in lore format.

    #request-descriptions
      #requests
        #requests-labels
          #method-label Method
          #route-label Route
        for request, i in entity
          div(class="request-entry" data-value=`${entityName} ${i}`)
            .method= request.method
            .partial-route= request.route
      #info
        table(id="info-table")
          tr
            td.label Method:
            td= req.method
          tr
            td.label Route:
            td= req.route
          if(req.headers)
            tr
              td.label Headers:
              td= req.method
          if(req.body)
            tr
              td.label Body:
              td= req.body
          tr: th(class="label" id="description" colspan=2) Description:
          tr: td(colspan=2)= req.description
          //for info in documentation.index[0].entries